@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hx2j1t');
  src:  url('fonts/icomoon.eot?hx2j1t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hx2j1t') format('truetype'),
    url('fonts/icomoon.woff?hx2j1t') format('woff'),
    url('fonts/icomoon.svg?hx2j1t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .icon-kaishi:before {
  content: "\e900";
  color: #969fbb;
}
.icon-Success:before {
  content: "\e901";
  color: #969fbb;
}
.icon-seach:before {
  content: "\e902";
  color: #969fbb;
}
.icon-download-manage:before {
  content: "\e903";
  color: #969fbb;
}
.icon-download:before {
  content: "\e904";
  color: #969fbb;
}
.icon-set:before {
  content: "\e905";
  color: #969fbb;
}
.icon-news:before {
  content: "\e906";
  color: #969fbb;
}
.icon-play:before {
  content: "\e907";
  color: #969fbb;
}
.icon-replace:before {
  content: "\e908";
  color: #969fbb;
}
.icon-edit:before {
  content: "\e909";
  color: #969fbb;
}
.icon-export:before {
  content: "\e90a";
  color: #969fbb;
}
.icon-start:before {
  content: "\e90b";
  color: #969fbb;
}
.icon-narrow:before {
  content: "\e90c";
  color: #969fbb;
}
.icon-close:before {
  content: "\e90d";
  color: #969fbb;
}
.icon-next:before {
  content: "\e90e";
  color: #969fbb;
}
.icon-pre:before {
  content: "\e90f";
  color: #969fbb;
}
.icon-delete:before {
  content: "\e910";
  color: #969fbb;
}
.icon-suspend:before {
  content: "\e911";
  color: #969fbb;
}
.icon-Refresh:before {
  content: "\e912";
  color: #969fbb;
}
.icon-uploading:before {
  content: "\e913";
  color: #969fbb;
}
.icon-upload:before {
  content: "\e914";
  color: #969fbb;
}
.icon-music-manage:before {
  content: "\e915";
  color: #969fbb;
} */
.icon--01-01:before {
  content: "\e916";
  color: #969fbb;
}
